.sidePanel .pageLink {

  width: 115%;
  background-color: rgba(38,33,44,1);
  border-right: 4px solid #5DB7DE;
  border-top: none;
  border-bottom: 0px;
  color: #716A5C;

}

.sidePanel .pageLink a {

  color: #5DB7DE;

}
