@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');

body {

  background-color: #F1E9DB;

}

.navBar {

  width: 100%;
  height: 50px;
  display: flex;
  background-color: #07020D;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  align-items: center;


}

.logoText {

  font-family: 'Cairo', sans-serif;
  padding-left: 15px;
  margin-right: auto;
  font-size: 30px;
  color: #F1E9DB;
  cursor: pointer;

}

.logoText span {

  color: #5DB7DE;

}

.logoImage {

  max-width: 40%;
  height: 40%;
  padding-left: 10px;
  cursor: pointer;

}

.searchImage {

  height: 20px;
  padding-top: 3px;
  padding-bottom: 2.5px;
  padding-right: 4px;
  padding-left: 4px;
  border: 1px solid #07020D;
  background-color: rgba(38,33,44,0.7);
  cursor: pointer;

}

.searchBar {

  margin-right: 20%;
  width: 700px;
  font-size: 16px;
  background-color: rgba(38,33,44,0.7);
  border: none;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all 0.3s ease 0s;

}

.searchBar:hover {

  background-color: rgba(38,33,44,1);

}

.searchBar:focus {

  outline: none;
  background-color: rgba(38,33,44,1);

}

.searchBar:hover .searchImage{

  background-color: rgba(38,33,44,1);

}

li, a, .profileButton {

  font-family: 'Cairo', sans-serif;
  font-weight: 500;
  font-size: 15px;

  display: inline-block;
  text-decoration: none;
  justify-content: flex-end;
  padding: 0px 10px;

  color: white;

}

.profileButton{

  padding: 0px 20px;

}

.nav__links {

  list-style: none;

}

.nav__links li a {

  display: inline-block;
  padding: 0px 5px;
  transition: all 0.3s ease 0s;

}

.profileButton button {

  background-color: rgba(93, 183, 222,1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.nav__links li a:hover {
  color: #5DB7DE;
}

.profileButton button:hover {

  background-color: rgba(93, 183, 222, 0.7);

}

.sidePanel {

  background-color: #07020D;
  width: 10%;
  height: 900px;
  display: inline-block;
  padding-top: 20px;

}

.sidePanel .pageLink {

  width: 115%;
  background-color: rgba(38,33,44,1);
  border-right: 4px solid #5DB7DE;
  border-top: none;
  border-bottom: 0px;
  color: #716A5C;

}

.sidePanel .pageLink a {

  color: #5DB7DE;

}

.sidePanel .sideNav__links {

  position: relative;
  width: 70%;
  margin: 0px auto;
  background-color: rgba(38,33,44,0.7);
  text-align: right;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.sideNav__links li a {

  padding: 2px;
  padding-right: 3px;
  color: white;

}

.sideNav__links li {

  position: relative;
  width: 120%;
  right: 40px;
  border: 1px solid #07020D;
  border-bottom: 1px solid #07020D;

}

.sideNav__links li:hover {

  width: 115%;
  background-color: rgba(38,33,44,1);
  border-right: 4px solid #5DB7DE;
  border-top: none;
  border-bottom: 0px;
  color: #716A5C;
  transition: all 0.3s ease 0s;

}

.sideNav__links li:hover a {

  color: #5DB7DE;
  transition: all 0.3s ease 0s;

}
