@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #dcddde;
}

 .mainName {
   background-color: #272726;
   font-family: 'Cairo', sans-serif;
   font-weight: 900;
   font-size: 50px;
   color: #d1e5e1;
   margin-right: 600px;
   cursor: pointer;
 }

 .mainName span{
   background-color: #272726;
   color: #5ea193;
 }

 li, a, button {
  font-family: 'Cairo', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #d1e5e1;
  text-decoration: none;
}

.navMenu {
  background-color: #272726;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  padding: 0px;
  width: 5%;
  height: 5%;
  cursor: pointer;
  margin-right: auto;
  background-color: #272726
}

.nav__links {
  list-style: none;
  background-color: #272726;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  background-color: #272726;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  background-color: #272726;
}

.nav__links li a:hover {
  color: #2a4842;
}

.cta {
  background-color: #272726
}

button {
  color: #2a4842;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: rgba(94, 161, 147, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(94, 161, 147, 0.6);
  color: #d1e5e1;
}
